@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
}
body {
  background-image: url(https://wallpapers.com/images/featured/pz9xlt7h367hexl7.jpg);
}
.navbar {
  display: flex;
  justify-content: end;
  padding: 10px 0px;
}
.home {
  color: white;
  width: 300px;
  font-size: 10px;
}

.main {
  width: 100vw;
  height: 92vh;
  color: white;
  display: flex;
  justify-content: start;
  padding-top: 100px;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}
.under {
}
.construction {
}
.PGB {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  font-size: 10px;
}
.progressbar {
  position: relative;
  width: 200px;
  height: 5px;
  align-items: end;
  box-shadow: 1px 1px 13px 2px rgba(255, 255, 255, 0.9);
}

.whiteline {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}
.blueline {
  position: absolute;
  background-color: lightblue;
  width: 80%;
  height: 100%;
}
.percent {
  display: flex;
  justify-content: space-between;
  width: 200px;
}
.zero {
}
.hundred {
}
.notify {
}
.btnnotify {
  background-color: lightblue;
  padding: 5px 20px;
  border: none;
}
.socialmedia {
  display: flex;
  width: 200px;
  justify-content: space-evenly;
}
.facebook {
  display: flex;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid white;
  border-radius: 100px;
}
.twitter {
}
.linkin {
}
.email {
}
.footer {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 10px;
}
.a2023 {
  width: 60%;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  padding-top: 4px;
}
